
version: '3.8'

services:
  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - '8080:8080'
    volumes:
      - ./frontend:/app
    environment:
      PORT: 8080
      NODE_ENV: development

  nestjs:
    build: ./backend
    container_name: nestjs
    ports:
      - '3000:3000'
    env_file: .env
    environment:
      MONGODB_URI: 'mongodb://mongo:27017/wakapadi'
      JWT_SECRET: ${JWT_SECRET}
      THROTTLE_TTL: ${THROTTLE_TTL}
      THROTTLE_LIMIT: ${THROTTLE_LIMIT}
      FRONTEND_URL: ${FRONTEND_URL}
      QDRANTURL: ${QDRANTURL}
      QDRANTAPIKEYS: ${QDRANTAPIKEYS}
      NODE_ENV: ${NODE_ENV}
    depends_on:
      - mongo
    restart: always

  # Optional services (disabled by default)
  # qdrant:
  #   image: qdrant/qdrant
  #   container_name: qdrant
  #   ports:
  #     - '6333:6333'
  #   volumes:
  #     - qdrant_data:/qdrant/storage
  #   restart: always

  # ollama:
  #   image: ollama/ollama
  #   container_name: ollama
  #   ports:
  #     - '11434:11434'
  #   volumes:
  #     - ollama_models:/root/.ollama
  #   restart: always

  mongo:
    image: mongo:6
    container_name: mongo
    ports:
      - '27017:27017'
    volumes:
      - mongo_data:/data/db
    restart: unless-stopped

volumes:
  qdrant_data: {}
  ollama_models: {}
  mongo_data: {}
